<!-- GET /albums -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <% @albums.each do |album| %>
      <div>
        Title: <%= album.title %>
        <br>
        <a href="/albums/<%= album.id %>">Link</a>
      </div>
      <br>
    <% end %>

    <!-- ... -->
  </body>
</html>
