<!-- GET /artists -->

<html>
  <head></head>
  <body>
    <h1>Artists</h1>

    <% @artists.each do |artist| %>
      <div>
        Name: <%= artist.name %>
        <br>
        Genre: <%= artist.genre %>
        <br>
        <a href="/artists/<%= artist.id %>">Link</a>
      </div>
      <br>
    <% end %>

    <!-- ... -->
  </body>
</html>

