<!-- GET /albums/new -->

<html>
  <head><head>
  <body>
    <h1>Add a new album</h1>

    <form method="POST" action="/albums">
      <label>Album title: </label>
      <input type="text" name="title" />
      <br>
      <br>
      <label>Album release year: </label>
      <input type="text" name="release_year" />
      <br>
      <br>
      <label>Artist ID: </label>
      <input type="text" name="artist_id" />
      <br>
      <br>
      <input type="submit" value="Submit the form">
    </form>
  <body>
<html>  